/* Cascading Style Sheets */ 
body {
    margin: 0 auto;
}
#copyright {
    text-align: right;
}
#tree a {
    color: #003333;
    font: normal normal 12.0px normal Arial, sans-serif;
}
#body_content {
    max-width: 1000.0px;
    background-color: #FFFFFF;
    width: 80.0%;
    padding: 10.0px 20.0px 10.0px 20.0px;
    box-shadow: 3.0px 3.0px 3.0px 1.0px #666666;
}
#controls {
    text-align: right;
}
#tree li.current a {
    background-color: #003333;
}
#content p {
    font: normal normal medium normal Times New Roman, serif;
    margin: 0.0px 0.0px 1.0em 0.0px;
    text-indent: 1.2em;
    text-align: left;
}
#help_path a {
    color: #FFFFFF;
    font: normal bold 12.0px normal Arial, sans-serif;
}
#controls span {
    color: #CCCCCC;
    font: normal bold 12.0px normal Arial, sans-serif;
    background-color: #999999;
}
body {
    background-color: #999999;
}
#controls a {
    color: #FFFFFF;
    font: normal bold 12.0px normal Arial, sans-serif;
    background-color: #003333;
}
h2 {
    color: #006666;
    font: normal bold x-large normal Arial, sans-serif;
}
h1 {
    color: #003333;
    font: normal bold xx-large normal Arial, sans-serif;
    text-align: center;
}
#home_link {
    color: #FFFFFF;
    font: normal bold 12.0px normal Arial, sans-serif;
    background-color: #003333;
}
#tree {
    border: dotted 1.0px #003333;
}
#help_path {
    background-color: #003333;
}
